<div class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col-auto">
      <app-tabs #tabsBar [tabs]="tabs" (tabSelected)="changeContent($event)"></app-tabs>
    </div>
    <div class="col"></div>
    <div class="col-auto dropdown">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Button dropdown <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let item of dropDownItems"><a class="dropdown-item" href="#">{{item.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto items">
      <i class="fa fa-arrow-left" (click)="backItem()"></i>
      <span>{{itemIndex + 1}}/{{items.length}}</span>
      <i class="fa fa-arrow-right" (click)="forwardItem()"></i>
    </div>
    <div class="col keyItem">
      <span class="title">{{items[itemIndex].title}}</span>
      <span class="keyItem" *ngFor="let keyItem of items[itemIndex].keys">{{keyItem}} </span>
    </div>
    <div class="col-auto">
      <div class="col-auto tools">
        <template class="tool-item" *ngFor="let tool of tools">
          <app-tool [tool]="tool"></app-tool>
        </template>
      </div>
    </div>
  </div>
  <app-tab1 *ngIf="tabSelected === 0"></app-tab1>
  <app-tab2 *ngIf="tabSelected === 1" [data]="chart.data"></app-tab2>
  <app-tab3 *ngIf="tabSelected === 2" (link)="this.selectTab(0)"></app-tab3>
</div>
